<h1>Daily Works</h1>

<div class="Table">
  <div class="Table-row Table-header">
    <div class="Table-row-id-item">Work ID</div>
    <div class="Table-row-item">Employee ID</div>
    <div class="Table-row-item">Date</div>
    <div class="Table-row-item">Hours</div>
    <div class="Table-row-item">Group ID</div>
    <div class="Table-row-item">Report ID</div>
  </div>
<% @dailyworks.each do |work| %>
  <div class="Table-row">
    <div class="Table-row-id-item" data-header="Work ID"><%= work.id %></div>
    <div class="Table-row-item" data-header="Employee ID"><%= work.employee_id %></div>
    <div class="Table-row-item" data-header="Date"><%= work.date %></div>
    <div class="Table-row-item" data-header="Hours"><%= work.hours %></div>
    <div class="Table-row-item" data-header="Group ID"><%= work.workgroup_id %></div>
    <div class="Table-row-item" data-header="Report ID"><%= work.report_id %></div>
  </div>
<% end %>
</div>

<div class="w3-btn w3-white w3-border w3-border-blue w3-round">
  <%= link_to 'New daily work', :controller => 'dailyworks', :action => 'new' %>
</div>
