<h1>New dailywork</h1>

<%= form_for @dailywork, url: dailyworks_path do |f| %>
  <p>
    <%= f.label :employee_id, "Employee ID" %><br>
    <%= f.text_field :employee_id %>
  </p>
 
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </p>

  <p>
    <%= f.label :workgroup_id, "Group ID" %><br>
    <%= f.text_field :workgroup_id %>
  </p>

  <p>
    <%= f.label :report_id, "Report ID" %><br>
    <%= f.text_field :report_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="w3-btn w3-white w3-border w3-border-blue w3-round">
  <%= link_to 'Back to report', :controller => 'report', :action => 'index', :default => { pay_period: 'semimonthly' } %>
</div>