<h1>New Employee</h1>

<%= form_for @employee, url: employees_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :gender %><br>

    <%= f.radio_button :gender, 'unknown', :checked => true %> 
    <%= label :gender_unknown, 'Unknown' %>
    <%= f.radio_button :gender, 'male' %>
    <%= label :gender_male, 'Male' %>
    <%= f.radio_button :gender, 'female' %>
    <%= label :gender_female, 'Female' %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="w3-btn w3-white w3-border w3-border-blue w3-round">
  <%= link_to 'Back to report', :controller => 'report', :action => 'index', :default => { pay_period: 'semimonthly' } %>
</div>